In [ ]:
`#Building logistic Regression Model
import pandas as pd
diabetes=pd.read_csv("/content/drive/MyDrive/Data Sets/diabetes.csv")
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
features=['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
X=diabetes[features]
y=diabetes.Outcome

In [ ]:
#Split DataSet in Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=100)

In [ ]:
#Implement Logistic Regression
from sklearn.linear_model import LogisticRegression
logr=LogisticRegression(max_iter=1000)
logr.fit(X_train,y_train)
y_pred=logr.predict(X_test)
y_pred

array([0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0])

In [ ]:
y_test

173    0
253    0
207    1
737    0
191    0
      ..
594    0
254    1
569    1
588    1
599    0
Name: Outcome, Length: 192, dtype: int64

In [ ]:
#Define Accurate Model
from sklearn import metrics
acc=metrics.accuracy_score(y_test,y_pred)
acc

0.734375

In [ ]:
cnf=metrics.confusion_matrix(y_test,y_pred)
cnf

array([[106,  21],
       [ 30,  35]])

In [ ]:
acc

0.734375

In [ ]:
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.78      0.83      0.81       127
           1       0.62      0.54      0.58        65

    accuracy                           0.73       192
   macro avg       0.70      0.69      0.69       192
weighted avg       0.73      0.73      0.73       192